/* 48 hour-forecast */
.forecast-data-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 800px;
    padding: 10px;
    gap: 10px;
    width: 100%;
    border: 0px solid rgb(11, 11, 11);

}

/*  THe 48 hour forecast CSS  mobile*/
.inner-left {
    display: flex;
    flex-direction: column;
    flex: 0 850px;
    height: 780px;
    min-width: 375px;
    border: 0px solid rgb(11, 11, 11);
    background-color: rgba(12, 11, 11, 0.9);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-radius: 8px;
}

.inner-left .three-days-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 20px;
    flex: 0;
    border: 0px solid rgb(8, 8, 8);
}

.inner-left .three-days-container .three-days-container-inner {
    display: flex;
    border: 0px solid rgb(9, 9, 9);
    width: 340px;
    height: 100%;

}

.inner-left .three-days-container .three-days-container-inner .forty-8-days {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid rgb(18, 18, 18);
    flex: 1 80px;
    gap: 0px;
}

.divider1,
.divider2 {
    border: 1px solid rgb(247, 247, 246);

    position: relative;
    top: 0px;
    margin-right: 8px;
    margin-left: 8px;
}

.divider1 {
    position: relative;
    top: 50px;
    height: 618px;
}

.divider2 {
    position: relative;
    top: 50px;
    height: 618px;
}

.main-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgb(6, 6, 6);
    height: 50px;
    width: 100%;
    padding-left: 5px;
}

.date-day {
    height: 40px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bolder;
    margin-left: 10px;
    text-align: center;
    margin-right: 6px;
    color: rgb(230, 212, 177);

}

.day-hi-lo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 0px solid rgb(6, 6, 6);
    width: 100%;
    color: rgb(247, 170, 16);
    font-weight: bolder;
}

.hour {
    display: flex;
    border: 0px solid rgb(5, 5, 5);
    height: 22px;
    padding-bottom: 4px;
    width: 100%;
}

.hour-rain-snow {
    background-color: rgb(29, 29, 45);
}



.hour-cell-time,
.hour-cell-icon,
.hour-cell-temp {
    border: 0px solid rgb(5, 5, 5);
    flex: auto;
    margin-left: 0px;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
}

.hour-cell-time {
    flex: 45px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: rgb(230, 212, 177);
}

.hour-cell-icon {
    flex: 25px;
    margin-right: 0px;
}

.hour-cell-temp {
    flex: 30px;
    margin-left: 0px;
    color: rgb(247, 170, 16);
}

/*Deatailed information on each Day CSS*/

.title {
    margin: 0px;
    padding-left: 5px;
    background-color: rgba(238, 238, 235, 0.0);
    border: 1px solid rgba(248, 244, 244, 0.1);
    color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 25px;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    font-weight: bolder;
    content: "Forty-eight hour Forecast"
}



/* Desktop \tablet */
.three-days-desktop-tablet {
    display: flex; /*
    flex-direction: column;
    justify-content: center; */
    border: 0px solid rgb(9, 9, 9);
    
}

.forty-8-days-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0px solid rgb(9, 9, 9);
    width: 700px;
    height: 100%;
}

.day-info {
    display: flex;
    height: 110px;
    margin-top: 15px;
    border: 0px solid rgb(9, 9, 9);
}

.date-day-desk {
    position: relative;
    left: 5px;
    top: 5px;
    height: 30px;
     width: 200px;
    font-weight: bolder;
    font-size: 13px;
    color: rgb(230, 212, 177);
}
.main-icon-desk{
    position: relative;
    top: 25px;
    left: -150px;
    border: 0px solid rgb(6, 6, 6);
    height: 50px;
    
}

.day-hi-lo-desk {
    position: relative;
    height: 30px;
    width: 100px;
    top: 95px;
    left:-220px;
    color: rgb(247, 170, 16);
    font-weight: bolder;
    border: 0px solid rgb(6, 6, 6);
}


/* a div to contain all the hurs  Should be a set size "viewport 
and remain with content scrollable*/
.hours-container-desk-inner {
    position: relative;
   left: -180px;
   display: flex;   
   width: 400px;
   height: 100px;
   border: 0px solid rgb(6, 6, 6);
   gap: 5px;
   margin-top: 10px;
   margin-left: 0px;
   overflow:auto;
   
}

.hour-desk {
    display: flex;
    flex-direction:column; 
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(6, 6, 6);    
    font-weight: 600;
    margin-top: 0px;
    font-size: 13px;
    width: 50px;
    border-radius: 3px;
}

.hour-cell-time-desk {
   flex: 0 35px;
   margin-top: 5px;
   color: rgb(230, 212, 177);
   border: 0px solid rgb(6, 6, 6);
}
.hour-cell-icon-desk {
    flex: 0 35px;
    border: 0px solid rgb(6, 6, 6);

}
.hour-cell-temp-desk {
    flex: 0 35px;
    color: rgb(247, 170, 16);
    border: 0px solid rgb(6, 6, 6);  
}


/* mobile */
@media screen and (max-width: 546px) {   
    .three-days-desktop-tablet {
        visibility: hidden;
        display: none;
    }   
        .three-days-container-inner {
            visibility: visible;
            display: flex;
        }
        
}
/* desktop and tablet*/
@media screen and (min-width: 546px) {
    .three-days-container-inner {
        visibility: hidden; 
        display: none;    
    }
        .three-days-desktop-tablet {
            visibility: visible;
            display: flex;
        }
       
    
}
