
/* CSS Resets https: //piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,h1,h2,h3,h4,p,figure,blockquote,dl,dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,button,
textarea,select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

* {
    border: 0px solid black;
}
/* App Styling */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    display: flex;
    justify-content: center;
    background-color:rgb(78, 122, 162);
    font-size: 10px;
}


/* The main container to keep all otheres centered*/
.centered-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    border: 0px solid rgb(0, 0, 3);
    height: 1300px;
    margin-top: 3px;
    margin-right: 20px;
    margin-left: 10px;
}

/*The container that holds the cells that contain all the weather data*/
.main-container {
    display: flex;
    flex-direction: column;
    
    background-image: url();

    border: 0px solid rgb(247, 170, 16);
    
    width: 95%;
    max-width: 1000px;
    height: 500px;
    border-radius: 10px;
    margin: 5px;
}

/* three levels to hold the celss of the data*/
.level-top { 
    display: flex;
    flex: 0 auto;
    border: 0px solid black;
    height: 170px;
}
.level-top .weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: 0 25%;
    border: 0px solid black;
    margin: 10px;
    border-radius: 5px;
}
.level-top .current-condition-container {
    flex: 1 75%;
    border: 0px solid black;
}

.date {
    border: 0px solid black;
    height: 25px;
    margin: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 100;
    color: rgb(160, 252, 1);
}

.temp {
    display: flex;
    border: 0px solid black;
    height: 35px;
    margin: 3px;
    margin-bottom: -5px;
    width: 150px;
    line-height: 15px;
    font-size: 40px;
    font-weight: 600;
    padding-left: 3px;
    color:rgb(254, 170, 2);
}

.temp-type {
    position:relative;
    left:-23px;
    top: -30px;
    border: 0px solid black;
    width: 80px;
    height: 80px;
    padding-top: 0px;
    line-height: 10px;


}

.temp-high-low {
    display: flex;
    gap: 3px;
    border: 0px solid black;
    width: 120px;
    margin-left: 3px;
    padding-left: 7px;
    color: white;
}
.condition {
    border: 0px solid black;
    margin-left: 10px;
    margin-top: 0px;
    color:rgb(245, 249, 249);
    font-size: 14px;
}
.location {
    margin-right: 20px;
    margin-left: 20px;
    line-height: 25px;
    font-size: 12px;
    color: rgb(249, 246, 246);
    border: 0px solid black;
}

/*----------------------------Style for submit and textbox-----------------------------------*/
.search {
    border: 0px solid black;
    display:flex;
    justify-content: flex-end;

    line-height: 10px;
    padding-top: 8px;
    margin-top: 0px;
    padding-bottom: 8px;
    margin-right: 20px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
}


.level-mid {
    display: flex;
    flex: 0 auto;
    flex-wrap: wrap;
    border: 0px solid black;
    height: 25px;
    margin-left: 20px;
    margin-top: 15px;
}
.current-stats {
    display: flex;
    border: 1px solid rgb(251, 249, 249);
    width: 90px;
    height: 24px;
    margin-left: 5px;
    margin-bottom: 6px;
    border-radius: 5px;
    text-align:center;
    font-size: 10px;
    line-height: 20px;
    color:rgb(254, 170, 2);
    background-color: rgba(118, 118, 180, 0.4);
}
#deg {
    margin-left: 2px;
    border: 0px solid rgb(251, 249, 249);
    height: 25px;
    width: 25px;
}
/*
.current-stats:first-child {
    margin-left: 15px;
} */
.current-stats:last-child{
    width: 110px;
}
.icon {
    border: 0px solid black;
    margin-left: 5px;

}
.level-bottom {
    display: flex;
    flex: 1 auto;

    flex-wrap: wrap;
    border: 0px solid black;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 5px;
}
.day-container {
    display: flex;
    align-items: center;

    border: 0px solid rgb(5, 5, 5);
}
.day-container-centered {
    display: flex;
    flex: 1 auto;

    border: 0px solid rgb(252, 251, 251);
    margin-left: 20px;
    margin-right: 20px;
}


.level-bottom .day{
    display: flex;
    flex-direction: column;

    flex: 0 155px;
    border: 1px solid rgb(254, 254, 254);
    background-color: rgba(67, 67, 139, 0.2);
    height: 95px;

    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.degrees {
    font-size: 18px;
    line-height: 20px;
}
/*.day:first-child {
    margin-left: 5px;
}*/

.level-bottom .day .inside-day-container{
    display: flex;
    padding-top: 8px;
    flex-direction: column;
}

.level-bottom .day .inside-day-container .what-day {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 7px;
    margin-bottom: 5px;
    flex: 1;
    border: 0px solid rgb(254, 254, 254);
    color:aliceblue;
}

.day-conditions {
    color: aliceblue;
    padding-left: 7px;
    margin-top: 8px;
}
.level-bottom .day .inside-day-container .icon-temp-container{
    display: flex;
    margin-top: 1px;
}

.level-bottom .day .inside-day-container .icon-temp-container .day-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    flex: 0 40px;
    height: 30px; 
    border: 0px solid rgb(254, 254, 254);
    padding-top: 8px;
}
.level-bottom .day .inside-day-container .icon-temp-container .day-temp {
    display: flex;
    padding-top: 0px;
    padding-left: 2px;
    flex: 0 40px;
    height: 25px;
    border: 0px solid rgb(254, 254, 254);color:
    rgb(254, 170, 2);
    font-size: 25px;
    line-height: 28px;
}
.day-temp-low {
    font-size: 11px;
    padding-left: 3px;
    line-height: 20px;
}
.hi, .lo {
    border: 0px solid rgb(255, 171, 3);
    border-radius: 3px;
    font-size: 11px;
}
.hi {
    color: rgb(205, 82, 20);
}

.lo {
    color: rgb(29, 188, 69);
}

.forecast-data-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 400px;
    padding: 10px;
    gap: 10px;
    width: 100%;
}

/*  THe 48 hour forecast CSS*/
.inner-left {    
    display: flex;
    flex-direction: column;
    flex: 0 650px;
    height: 740px;
    min-width: 375px;
    border: 1px solid rgb(11, 11, 11);
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-radius: 8px;    
}

.inner-left .three-days-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    flex: 0;
    border: 0px solid rgb(8, 8, 8);
}
.inner-left .three-days-container .three-days-container-inner {
    display: flex;
    border: 0px solid rgb(9, 9, 9);
    width: 340px;
    height: 100%;

}
.inner-left .three-days-container .three-days-container-inner .forty-8-days {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid rgb(18, 18, 18);
    flex: 1 80px;
    gap: 0px;
}
.divider1, .divider2 {
    border: 1px solid rgb(247, 247, 246);
   
    position: relative;
    top: 0px;
    margin-right: 8px;
    margin-left: 8px;
}

.divider1 {
    position: relative;
    top: 50px;
    height: 618px;
}

.divider2 {
    position: relative;
    top: 50px;
    height: 618px;
}

.main-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 0px solid rgb(6, 6, 6);
    height: 50px;
    width: 100%;
    padding-left: 5px;
}
.date-day {
    height: 40px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bolder;
    margin-left: 10px;
    text-align: center;
    margin-right: 6px;
    color: rgb(230, 212, 177);
    
}
.day-hi-lo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 0px solid rgb(6, 6, 6);
    width: 100%;
    color: rgb(247, 170, 16);
    font-weight:bolder;
}
.hour {
    display: flex;
    border: 0px solid rgb(5, 5, 5);
    height: 20px;
    margin-bottom: 2px;
    width: 100%;
}

/* the effect i need for rain */
#hour7,#hour8, #hour9, #hour10, #hour11, #hour12 {
    background: rgb(53, 53, 72);
}


.hour-cell-time, .hour-cell-icon, .hour-cell-temp {
    border: 0px solid rgb(5, 5, 5);
    flex: auto;
    margin-left: 0px;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
}

.hour-cell-time {
    flex: 45px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: rgb(230, 212, 177);
}
.hour-cell-icon {
    flex: 25px;
    margin-right: 0px;
}
.hour-cell-temp {
    flex: 30px;
    margin-left: 0px;
    color: rgb(247, 170, 16);
}

/*Deatailed information on each Day CSS*/

.inner-right {
    flex: 0 400px;
    height: 375px;
    min-width: 375px;
    border: 1px solid rgb(6, 6, 6);
    background-color: rgba(4, 4, 5, .3);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-radius: 8px;
}
.column-container {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 550px;
    min-width: 375px;
    margin-top: 10px;
    gap: 10px;
}

.title {
    margin: 0px;
    padding-left: 5px;
    background-color:rgba(238, 238, 235, 0.0);
    border: 0px solid rgba(248, 244, 244, 0.1);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 25px;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    font-weight: bolder;
}



@media screen and (max-width: 996px) {
    .main-container {
            height: 480px;
            margin-bottom: 50px;
        }
    
        .centered-container {
            height: 1300px;
            gap: 20px;
        }
               
               
}
@media screen and (max-width: 800px) {
    /* make the last three days hide
    #day-five, #day-six, #day-seven {
        display: none;
    }
    .current-condition-container {
        margin-top: 30px;        
    }*/
    .level-top {
        margin-bottom: 5px;
    }
    .main-container {
        height: 500px;
        margin-bottom: 50px;
    }
    .centered-container {
        height: 1250px;
        gap: 20px;
    }
    .temp {
        font-size: 50px;
        margin-bottom: 5px; /*10*/
        margin-top: 10px;
    }
    .temp-type {
        top: -35px; 
    }
    .search {
        padding-top: 10px;
        margin-left: 0px;
    }

    .inner-container {
        height: 400px;
        margin-bottom: 100px;
    }
        .column-container {
            display: none;
        }
}

@media screen and (max-width: 714px) {
    .level-mid {
            height: 50px;
        }
    /*.current-stats {
        margin-left: 15px;
    } 
    .day-container-centered {
        margin-left: 30px;
    }*/
    .main-container {
        height: 600px;

    }
    .centered-container {
        height: 1540px;
    }

.forecast-data-container {
    flex-flow: row wrap;

}

}

@media screen and (max-width: 546px) { /* 480 */

        .main-container {
            height: 690px;
        
        }
        .centered-container {
            height: 2050px;
        }

        .search {
            flex-direction:column;
            justify-content:center;
            align-items: flex-end;
            gap: 10px;
        }
        .search:nth-child(1) {
            justify-content:flex-start;
        } 
        .location {
            margin: 0px;
            margin-right: 15px;
        }
                
}
@media screen and (max-width: 414px) {

    .main-container {
        height: 720px; /*690 700 */ 
        width: 375px;
    }

    .centered-container {
        height: 1550px; /*1250 1275*/
    }

}
@media screen and (max-width: 375px) {

    .main-container {
        height: 730px;
    }

    .centered-container {
        height: 2200px;
    }
}
.spin {
    visibility: hidden;
}
@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  .spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #f5f5f6;
    border-bottom-color: rgb(247, 170, 16);
    border-radius: 50%;
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
  }


  

  /* component styling */

  /* component styling */
  .component-container {
      /* Change this */
      font-size: 14px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      border: 0px solid rgb(26, 24, 24);
      background-color: rgba(0, 0, 0, 0);
      border-radius: 5px;
      height: 27px;
      margin-right: 20px;
  }

  .component {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 295px;
      height: 25px;
      margin: 0px;
      background-color: rgba(249, 246, 246, 0);
      color: rgb(128, 120, 120);
      text-align: center;
      content: 'main';
      border: 0px solid black;

      /*box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .3);*/
  }

  .text {
      border-radius: 5px;
      margin-right: 3px;
      border: 1px solid rgb(99, 97, 97);
      height: 25px;
      width: 215px;
      padding-left: 8px;
      background-color: rgb(234, 232, 228)
          /*transition: width .5s;*/
  }

  .button {
      margin-right: 0px;
      margin-left: 3px;
      border: 1px solid black;
      border-radius: 5px;
      width: 30px;
      height: 25px;
      background-color: rgba(108, 117, 114, 0.6);
      cursor: pointer;
  }


  .button:active {
      color: white;
      /*transform: scale(-1,-10);*/
  }

  .expand {
      visibility: visible;
      position: relative;
      left: -76px;
      top: 4px;
      width: 22px;

      height: 23px;
      padding-left: 0px;
      padding-bottom: 10px;
      margin-bottom: 8px;
      border-top: 0px solid rgb(71, 70, 70);
    border-bottom: 0px solid rgb(71, 70, 70);
    border-right: 0px solid rgb(71, 70, 70);
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      color: rgb(12, 12, 12);
      background-color: rgb(234, 232, 228);
      line-height: 23px;
  }

  .clear {
      visibility: hidden;
      position: relative;
      left: -111px;
      top: 1px;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      color: rgb(142, 15, 15);
      background-color: rgba(178, 182, 180, 0);
      border: 0px solid black;
    text-shadow: 0px 1px 10px #181818;
  }

  .clear:hover {
      color: rgb(191, 22, 22);
  }

  .clear:active {
      color: rgb(248, 247, 247);

  }

  .save {
      height: 100%;
      width: 18px;
      border: 0px solid black;
  }

  input[type="checkbox"] {
      margin-left: 5px;
      margin-top: 4px;
      opacity: 5;
      height: 18px;
      width: 18px;
      cursor: pointer;
      accent-color: rgb(27, 53, 92);
  }

  .menu-container {
      margin: 0px;
  }

  .menu {
      display: flex;
      flex-direction: column;
      visibility: hidden;
      position: relative;
      overflow: auto;

      top: 1px;
      left: -15x;
      z-index: 1;
      width: 212px;
      height: 133px;
      /* max height 125px*/
      background-color: rgb(234, 232, 228);
      border: 1px solid rgb(171, 165, 165);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-radius: 5px;
      box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .9);
  }

  .item-container {
      display: flex;
      justify-content: space-between;
  }

  .item {
      border-bottom: 0px solid black;
      padding-left: 5px;
      margin-bottom: 10px;
      height: 23px;
      width: 215px;
      cursor: pointer;
      overflow: hidden;
      border-bottom: 0px solid gray;
      background-color: rgba(35, 31, 22, .1);
      line-height: 25px;
  }

  .close {
      margin-right: 3px;
      /* keep the icon over the item name incase its longer than the menu */
      z-index: 1;
      font-size: 22px;
      font-weight: light;
      color: rgba(0, 0, 0, 0.9);
      cursor: pointer;
      background-color:  rgba(35, 31, 22, .1);
      height: 23px;
      line-height: 25px;
  }

  /* checkbox styling */

  .switch {
      margin-left: 6px;
      margin-top: 2px;
      display: inline-block;
      height: 21px;
      position: relative;
      width: 47px;
  }

  .switch input {
      display: none;
  }

  .slider {
      background-color: rgba(187, 175, 146, 0.5);
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: .4s;
  }

  .slider:before {
      background-color: #fff;
      bottom: 3px;
      content: "";
      height: 15px;
      left: 4px;
      position: absolute;
      transition: .4s;
      width: 15px;
  }

  input:checked+.slider {
      background-color: #415ea6;
  }

  input:checked+.slider:before {
      transform: translateX(24px);
  }

  .slider.round {
      border-radius: 34px;
  }

  .slider.round:before {
      border-radius: 50%;
  }