
/* CSS Resets https: //piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,h1,h2,h3,h4,p,figure,blockquote,dl,dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,button,
textarea,select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

* {
    border: 0px solid black;
}
/* App Styling */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    display: flex;
    justify-content: center;
    background-color:rgb(160, 200, 237);
    font-size: 10px;
}


/* The main container to keep all otheres centered*/
.centered-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    border: 0px solid rgb(0, 0, 3);
    height: 500px;
    margin-top: 10px;
}

/*The container that holds the cells that contain all the weather data*/
.main-container {
    display: flex;
    flex-direction: column;
    
    background-image: url();

    border: 1px solid rgb(247, 170, 16);
    
    width: 100%;
    max-width: 1000px;
    height: 500px;
    border-radius: 10px;
    margin: 5px;
}

/* three levels to hold the celss of the data*/
.level-top { 
    display: flex;
    flex: 0 auto;
    border: 0px solid black;
    height: 170px;
}
.level-top .weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: 0 25%;
    border: 0px solid black;
    margin: 10px;
    border-radius: 5px;
}
.level-top .current-condition-container {
    flex: 1 75%;
    border: 0px solid black;
}

.date {
    border: 0px solid black;
    height: 25px;
    margin: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 100;
    color: rgb(160, 252, 1);
}

.temp {
    display: flex;
    border: 0px solid black;
    height: 35px;
    margin: 3px;
    margin-bottom: -5px;
    width: 150px;
    line-height: 15px;
    font-size: 40px;
    font-weight: 600;
    padding-left: 3px;
    color:rgb(247, 170, 16);
}

.temp-type {
    position:relative;
    left:-23px;
    top: -30px;
    border: 0px solid black;
    width: 80px;
    height: 80px;
    padding-top: 0px;
    line-height: 10px;


}

.temp-high-low {
    display: flex;
    gap: 3px;
    border: 0px solid black;
    width: 120px;
    margin-left: 3px;
    padding-left: 7px;
    color: white;
}
.hi, .lo {
    border: 0px solid rgb(247, 170, 16);;
    border-radius: 3px;
    padding: 0px;
    font-size: 12px;
}
.condition {
    border: 0px solid black;
    margin-left: 10px;
    margin-top: 0px;
    color:rgb(245, 249, 249);
    font-size: 14px;
}

.search {
    border: 0px solid black;
    display:flex;
    justify-content: flex-end;

    line-height: 10px;
    padding-top: 8px;
    margin-top: 0px;
    padding-bottom: 8px;
    margin-right: 10px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
}
.location {
    margin-right: 20px;
    margin-left: 20px;
    line-height: 25px;
    font-size: 14px;
    color: rgb(249, 246, 246);
}
input[type="text"]{
    border: 0px solid rgb(251, 249, 249);
    background-color: rgb(175, 175, 175);
    border-right: 0px solid rgb(249, 249, 249);
    border-bottom: 0px solid rgb(249, 249, 249);
    width: 150px;
    color: rgb(31, 30, 30);
    padding-left: 5px;
    font-size: 14px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 25px;
}


#location:focus {
    outline:none;
}

.clear {
    border-right: 0px solid rgb(246, 245, 245);
    border-top: 0px solid rgb(249, 249, 249);
    border-bottom: 0px solid rgb(249, 249, 249);
    padding: 3px;
    line-height: 21px;
    font-size: 12px;
    background-color: rgb(175, 175, 175);

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 25px;
    font-weight: 600;
}
.clear:hover {
    color: white;
    cursor: pointer;
}

.clear:active {
    color: black;
}
#submit {
    border: 0px solid rgb(247, 247, 247);
    border-radius: 5px;
    background-color: rgb(175, 175, 175);
    margin-left: 5px;
    margin-right: 10px;
    height: 25px;
}

#submit:hover {
    color: white;
    cursor: pointer;
}
#submit:active {
    color: black;
}

.level-mid {
    display: flex;
    flex: 0 auto;
    flex-wrap: wrap;
    border: 0px solid black;
    height: 25px;
    margin-left: 20px;
    margin-top: 15px;
}
.current-stats {
    display: flex;
    border: 1px solid rgb(251, 249, 249);
    width: 100px;
    height: 20px;
    margin-left: 5px;
    margin-bottom: 2px;
    border-radius: 5px;
    text-align:center;
    font-size: 10px;
    line-height: 20px;
    color:rgb(247, 170, 16);
    background-color: rgba(118, 118, 180, 0.4);
}
/*
.current-stats:first-child {
    margin-left: 15px;
} */
.current-stats:last-child{
    width: 120px;
}
.icon {
    border: 0px solid black;
    margin-left: 5px;

}
.level-bottom {
    display: flex;
    flex: 1 auto;

    flex-wrap: wrap;
    border: 0px solid black;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 5px;
}
.day-container {
    display: flex;
    align-items: center;

    border: 0px solid rgb(5, 5, 5);
}
.day-container-centered {
    display: flex;
    flex: 1 auto;

    border: 0px solid rgb(252, 251, 251);
    margin-left: 20px;
    margin-right: 20px;
}


.level-bottom .day{
    display: flex;
    flex-direction: column;

    flex: 0 150px;
    border: 1px solid rgb(254, 254, 254);
    background-color: rgba(67, 67, 139, 0.2);
    height: 80px;

    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.degrees {
    font-size: 12px;
    line-height: 20px;
}
/*.day:first-child {
    margin-left: 5px;
}*/

.level-bottom .day .inside-day-container{
    display: flex;
    padding-top: 8px;
    flex-direction: column;
}

.level-bottom .day .inside-day-container .what-day {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 7px;
    margin-bottom: 5px;
    flex: 1;
    border: 0px solid rgb(254, 254, 254);
    color:aliceblue;
}

.day-conditions {
    color: aliceblue;
    padding-left: 7px;
}
.level-bottom .day .inside-day-container .icon-temp-container{
    display: flex;
    margin-top: 1px;
}

.level-bottom .day .inside-day-container .icon-temp-container .day-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    flex: 0 40px;
    height: 30px; 
    border: 0px solid rgb(254, 254, 254);
}
.level-bottom .day .inside-day-container .icon-temp-container .day-temp {
    display: flex;
    padding-top: 0px;
    flex: 0 40px;
    height: 25px;
    border: 0px solid rgb(254, 254, 254);color:
    rgb(247, 170, 16);
    font-size: 25px;
    line-height: 28px;
}
.day-temp-low {
    font-size: 11px;
    padding-left: 3px;
    line-height: 20px;
}
.hi {
    color: rgb(205, 20, 20);
}

.lo {
    color: rgb(69, 228, 6);
}
@media screen and (max-width: 415px) { 
    /*.current-stats {
        margin-left: 15px;
    } 
    .day-container-centered {
        margin-left: 30px;
    }*/
}

@media screen and (max-width: 670px) {
    /* make the last three days hide
    #day-five, #day-six, #day-seven {
        display: none;
    }*/
    .current-condition-container {
        margin-top: 30px;        
    }
    .level-top {
        margin-bottom: 5px;
    }
    .main-container {
        height: 700px;
        margin-bottom: 5px;
    }
    .temp {
        font-size: 50px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .search {
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 576px) {
    .level-mid {
            height: 50px;
        }
}

.spin {
    visibility: hidden;
}
@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  .spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #f5f5f6;
    border-bottom-color: rgb(247, 170, 16);
    border-radius: 50%;
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
  }