
/* CSS Resets https: //piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

* {
    border: 0px solid black;
}

/* App Styling */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    justify-content: center;
    background-color: rgb(78, 122, 162);
    font-size: 10px;
}

.centered-container,
.forecast-data-container {
    visibility: hidden;
}

/* The main container to keep all otheres centered*/
.centered-container,
.huge-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    border: 0px solid rgb(91, 91, 214);
    height: 1300px;
    margin-top: 13px;
    margin-right: 20px;
    margin-left: 0px;
}

.huge-container {
    flex-direction: column;

}

/*The container that holds the cells that contain all the weather data*/
.main-container {
    display: flex;
    flex-direction: column;

    background-image: url();

    border: 0px solid rgb(247, 170, 16);

    width: 100%;
    max-width: 1000px;
    height: 520px;
    border-radius: 10px;
    margin: 0px;
    background-size: cover;
    transition: .1s ease-in-out;
}

/* three levels to hold the celss of the data*/
.level-top {
    display: flex;
    flex: 0 auto;
    border: 0px solid black;
    height: 170px;
    transition: .5s ease-in-out;
}

.level-top .weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 20%;
    border: 0px solid black;
    margin-left: 10px;
    border-radius: 5px;
    transition: .5s ease-in-out;
}

#weather-icon {
    transition: .5s ease-in-out;
}


.level-top .current-condition-container {
    flex: 1 70%;
    border: 0px solid black;
}

.new-conditions {
    height: 150px;
    flex: 1 30%;
    margin-top: 30px;
    padding-top: 15px;
    border: 1px solid rgb(247, 247, 247);
}

.date {
    border: 0px solid black;
    height: 25px;
    margin: 3px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 100;
    color: rgb(160, 252, 1);
}

.temp- {
    transition: .5s ease-in-out;
}

.temp {
    display: flex;
    border: 0px solid black;
    height: 35px;
    margin: 3px;
    margin-bottom: 5px;
    width: 150px;
    line-height: 15px;
    font-size: 48px;
    font-weight: 300;
    padding-left: 3px;
    color: rgb(254, 170, 2);
}

.temp-type {
    position: relative;
    left: -23px;
    top: -30px;
    border: 0px solid black;
    width: 80px;
    height: 80px;
    padding-top: 0px;
    line-height: 10px;
    transition: .5s ease-in-out;
}

.temp-high-low {
    display: flex;
    gap: 3px;
    border: 0px solid black;
    width: 120px;
    margin-left: 3px;
    padding-left: 7px;
    color: white;
}

.condition {
    border: 0px solid black;
    margin-left: 10px;
    margin-top: 0px;
    color: rgb(245, 249, 249);
    font-size: 14px;
    transition: .5s ease-in-out;
}

.location {
    margin-right: 20px;
    margin-left: 20px;
    line-height: 25px;
    font-size: 12px;
    color: rgb(249, 246, 246);
    border: 0px solid black;
    text-align: end;
}

/*----------------------------Style for submit and textbox-----------------------------------*/
.search-container {
    border: 0px solid rgb(247, 247, 247);
    display: inline-block;

    line-height: 10px;
    padding-top: 8px;
    margin-top: 0px;
    padding-bottom: 8px;
    margin-right: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
}


.level-mid {
    display: flex;
    flex: 0 auto;
    flex-wrap: wrap;
    border: 0px solid black;
    height: 25px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 5px;
    width: 90%;
}

.current-stats {
    display: flex;
    border: 0px solid rgb(251, 249, 249);
    width: 90px;
    height: 24px;
    margin-left: 0px;
    margin-bottom: 6px;
    text-align: left;
    font-size: 15px;
    line-height: 22px;
    color: rgb(248, 247, 247);
    background-color: rgba(118, 118, 180, 0.4);
}

#deg {
    margin-left: 2px;
    border: 0px solid rgb(251, 249, 249);
    height: 25px;
    width: 25px;
}

.current-stats:first-child {
    width: 60px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.current-stats:nth-child(2) {
    width: 70px;
}

.current-stats:nth-child(3) {
    width: 110px;
}

.current-stats:nth-child(4) {
    width: 70px;
}

.current-stats:nth-child(5) {
    width: 60px;
}

.current-stats:last-child {
    width: 140px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.icon {
    border: 0px solid black;
    margin-left: 5px;

}

.level-bottom {
    display: flex;
    flex: 1 auto;

    flex-wrap: wrap;
    border: 0px solid black;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 5px;
}

.day-container {
    display: flex;
    align-items: center;

    border: 0px solid rgb(5, 5, 5);
    transition: .5s ease-in-out;

}

.day-container-centered {
    display: flex;
    flex: 1 auto;

    border: 0px solid rgb(252, 251, 251);
    margin-left: 20px;
    margin-right: 20px;
}


.level-bottom .day {
    display: flex;
    flex-direction: column;

    flex: 0 155px;
    border: 1px solid rgb(254, 254, 254);
    background-color: rgba(59, 59, 115, 0.3);
    height: 95px;

    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: all ease-in-out;
}

.degrees {
    font-size: 18px;
    line-height: 20px;
}

/*.day:first-child {
    margin-left: 5px;
}*/

.level-bottom .day .inside-day-container {
    display: flex;
    padding-top: 8px;
    flex-direction: column;
}

.level-bottom .day .inside-day-container .what-day {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 7px;
    margin-bottom: 5px;
    flex: 1;
    border: 0px solid rgb(254, 254, 254);
    color: aliceblue;
}

.day-conditions {
    color: aliceblue;
    padding-left: 7px;
    margin-top: 8px;
}

.level-bottom .day .inside-day-container .icon-temp-container {
    display: flex;
    margin-top: 1px;
}

.level-bottom .day .inside-day-container .icon-temp-container .day-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    flex: 0 40px;
    height: 30px;
    border: 0px solid rgb(254, 254, 254);
    padding-top: 8px;
}

.level-bottom .day .inside-day-container .icon-temp-container .day-temp {
    display: flex;
    padding-top: 0px;
    padding-left: 2px;
    flex: 0 40px;
    height: 25px;
    border: 0px solid rgb(254, 254, 254);
    color:
        rgb(254, 170, 2);
    font-size: 25px;
    line-height: 28px;
}

.day-temp-low {
    font-size: 11px;
    padding-left: 3px;
    line-height: 20px;
}

.hi,
.lo {
    border: 0px solid rgb(255, 171, 3);
    border-radius: 3px;
    font-size: 11px;
}

.hi {
    color: rgb(205, 82, 20);
}

.lo {
    color: rgb(29, 188, 69);
}


.main-container {
    z-index: 0;
}

.forecast-data-container {
    z-index: 10;
    top: 10px;
    margin-left: 10px;
}


@media screen and (max-width: 1000px) {
    .main-container {
        height: 500px;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .centered-container {
        height: 1300px;
        gap: 20px;
    }

    .forecast-data-container {
        top: 10px;
    }


}

@media screen and (max-width: 800px) {
.forecast-data-container {
        position: relative;
    }

    .main-container {
        position: relative;
        top: 20px;
    }
    /* make the last three days hide
    #day-five, #day-six, #day-seven {
        display: none;
    }
    .current-condition-container {
        margin-top: 30px;        
    }*/
    .level-top {
        margin-bottom: 5px;
    }

    .main-container {
        height: 550px;
        margin-bottom: 50px;
        top: 50px;
        
    }

    .centered-container {
        height: 1250px;
        gap: 20px;
    }

    .temp {
        font-size: 50px;
        margin-bottom: 5px;
        /*10*/
        margin-top: 10px;
    }

    .temp-type {
        top: -35px;
    }

    .search {
        padding-top: 10px;
        margin-left: 0px;
    }

    .inner-container {
        height: 400px;
        margin-bottom: 100px;
    }

}

@media screen and (max-width: 700px) {
    .level-mid {
        height: 50px;
    }

    .main-container {
        height: 600px;
        top: 50px;
    }

    .centered-container {
        height: 1540px;
    }

    .forecast-data-container {
        top: 100px;

    }
}

/* round the corners when the row breaks*/
@media screen and (max-width: 616px) {
    .current-stats:nth-child(5) {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .current-stats:last-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

@media screen and (max-width: 546px) {
    /* 480 */

    .main-container {
        height: 690px;
        position: fixed;
        width: 95%;
        left: 5px;
        top: -10px;
    }

    .centered-container {
        height: 2050px;
    }

    .temp {
        font-size: 60px;
        margin-bottom: 5px;
        /*10*/
        margin-top: 15px;
    }

    .condition {
        margin-left: -5px;
    }

    .search-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .component-container {
        margin: 0px;
    }

    .location {
        margin: 0px;
        margin-right: 15px;
        text-align: center;
    }

    .forecast-data-container {
        position: relative;
        top: 280px;

    }

}

@media screen and (max-width: 414px) {

    .main-container {
        height: 720px;
        /*690 700 */
        left: 17px;
        width: 380px;
    }

    .centered-container {
        height: 1550px;
        /*1250 1275*/
    }

    .forecast-data-container {
        top: 200px;
    }

    /* what a pain in the ass. I could have just redesigned the damn thing
    I hope I never let another project go apeshit like this. pick a design
    stick with it, and learn some CSS front end library!!*/
    .current-stats:nth-child(4) {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .current-stats:nth-child(5) {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .current-stats:nth-child(5) {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .current-stats:nth-child(6) {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

@media screen and (max-width: 375px) {

    .main-container {
        height: 730px;
    }

    .centered-container {
        height: 2200px;
    }

    .forecast-data-container {
        top: 175px;
    }
}

.spin {
    visibility: hidden;
    z-index: 10;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #f5f5f6;
    border-bottom-color: rgb(247, 170, 16);
    border-radius: 50%;
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}





/* Playing with animations.... I;m so lost! */
.weather-icon.pulse {
    /*background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    margin: 10px;
    height: 20px;
    width: 20px; */
    transform: scale(1);
    /*animation: pulse-white 1s infinite; */
    animation-name: pulse-white;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 1s;
}

.weather-icon.white {
    background: transparent;
    /*box-shadow: 0 0 0 0 rgba(255, 255, 255, 1); */
    /*animation: pulse-white 1s infinite; */
    animation-name: pulse-white;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 1s;
}

@keyframes pulse-white {
    0% {
        transform: scale(1);
        /*box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);*/
    }

    50% {
        transform: scale(1.5);
        /*box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);*/
    }

    100% {
        transform: scale(1);
        /* box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);*/
    }
}

/*.weather-icon {
    /*background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    margin: 10px;
    height: 20px;
    width: 20px; /*
    transform: scale(1);
    animation: pulse-white 1s infinite;
}/*

.weather-icon.white {
    background: transparent;
    animation: pulse-white 1s infinite;
} 


@keyframes pulse-white {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
 */